* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background:goldenrod;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 222;
}

.navcontainer {
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    max-width: 1300px;
}

.navlogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlinks {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 100%;
    list-style: none;
}

.navlinks li {
    list-style: none;
    text-decoration: none;
    padding: 0px 10px;
}
.navlinks li a {
    list-style: none;
    text-decoration: none;
    color: rgb(232, 228, 219);

}

.navlinks li a:hover {
    color: red;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .navcontainer {
        display: flex;
		justify-content: space-between;
		height: 80px;
		z-index: 1;
		width: 100%;
		max-width: 1300px;
		padding: 0;
    }



    .navlinks {
        display: grid;
		grid-template-columns: auto;
		margin: 0;
		width: 100%;
		position: absolute;
		top: -1000px;
		opacity: 0;
		transition: all 0.5 ease;
		height: 50vh;
		z-index: -1;
		background: #131313;
    }

    .navlinks.active {
        background: #131313;
		top: 100%;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 99;
		height: 50vh;
		font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 10px;
    }

    .navbar_toggle .bar {
        width: 25px;
		height: 3px;
		margin: 5px auto;
		transition: all 0.3s ease-in-out;
		background: #ffff;
    }

    .navlinks li {
        width: 100%;
    }

    .navlinks li a {
        text-align: center;
		padding: 1rem;
		width: 100%;
		display: table;
    }

    #mobile-menu {
		position: absolute;
		top: 20%;
		right: 5%;
		transform: translate(5%, 20%);
	}

    .button {
        display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 50px;
		margin: 0;
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translate(8px) rotate(45deg);
	}

	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translate(-8px) rotate(-45deg);
	}


    
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    height: 90vh;
}

.maininfo {
    color: rgb(218, 32, 32);
}

.maininfo h1 {
    font-size: 3rem;
    background-color: white;
    background-image: linear-gradient(to top, gold 0%, pink 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.maininfo h3 {
    font-size: 2rem;
    background-color: white;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.746) 0%, rgb(255, 159, 159) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.maininfo p {
    font-size: 1rem;
    color: white;
    font-weight: 700;
    margin-top: 1rem;
}

.maininfo button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: goldenrod;
    margin-left: 20%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    outline: none;
    border-radius: 5px;
    position: relative;
}

.maininfo button a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: larger;
}

.buttondiv button :hover {
    color: black;
    transition: all 0.3s ease;
}

.maininfo button :hover {
    color: white; 
}


.mainimage {
    text-align: center;
}

.mainimage img {
    height: 80%;
    width: 100%;
}

#main_img {
    height: 80%;
    width: 100%;
}


.tablediv_pricelist {
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    height: 80vh;
    padding-left: 5px;
    margin-left: 20%;
}

.standarddiv_pricelist {
    justify-content: center;
    align-items: center;
    color: goldenrod;
    font-size: 1.5rem;
    height: 120vh;
    margin-top: 40px;
    margin-left: 20%;
}

.pricetab {
    padding-left: 40px;
}

.vipcontainer_pricelist {
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    color: black;
    background-color: black;
    font-size: 1.5rem;
    margin-top: 20px;
    height: 220vh;
}


.main_price h1 {
    font-size: 2.5rem;
    color: goldenrod;
    text-align: center;
    background-color: blue;
    background-image: linear-gradient(to top, red 0%, goldenrod 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-top: 20px;
}

.main_price p {
    font-size: 1.5rem;
    color: goldenrod;
    text-align: center;
    margin-top: 20px;
    background-color: blue;
    background-image: linear-gradient(to top, gold 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_price  {
    background: black;
}

.handle_contact img {
    width: 40px;
}

@media screen and (max-width:768px) {
    .main {
        display: grid;
		grid-template-columns: auto;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
		height: 100vh;
    }

    .maininfo {
        text-align: center;
		margin-bottom: 4rem;
    }

    .maininfo h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .maininfo h3 {
        font-size: 1.8rem;
    }

    .maininfo p {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .maininfo button {
        margin-left: 18px;
    }
    
}

@media screen and (max-width:480px) {
    .maininfo h1 {
        font-size: 3rem;
        margin-top: 3rem;
    }

    .maininfo h3 {
        font-size: 1rem;
    }

    .maininfo p {
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    
}

.container_service li {
    background-color: goldenrod;
    text-align: center;
    justify-content: center;
    list-style: square;
    font-size: 2rem;
    margin-top: 20px;
    background-image: linear-gradient(to top, gold 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.container_service {
    background: black;
    height: 90vh;
}

.container_service h1 {
    background-image: linear-gradient(to top, white 0%, rgb(212, 255, 0) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-top: 20px;
    font-size: 2rem;
    padding-left: 20px;
}

.handle_contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.service_div {
    width: 100%;
    height: 100vh;
    background: grey;
} 

.service_card {
    width: 60%;
    height: 80vh;
    background: red;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    display: flex;

}
.service_card img {
    width: 100px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.service_card h2 {
    padding-top: 20px;
    justify-content: center;
}


.service_first {
    
}

.service_second {

}

.service_tab {
    background: blue;
    height: 150vh;
    width: 100%;
    margin: 0;
    display: flex;
}

.service_info {
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 80vh;
    background: black;
    color: white;
    padding-top: 30px;
    margin-top: 50px;
}
.info_ul {
    padding-top: 20px;
    padding-left: 30px;
}
.info_ul li {
    padding-top: 20px;
    list-style: none;
    font-size: 1.5rem;
}
.service_info h1 {
    font-size: 1.8rem;
    background-image: linear-gradient(to top, white 0%, rgb(212, 255, 0) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-top: 20px;
    padding-left: 10px;
}